# ThingsHub config example
# .thingshubconfig

# Config files are parsed recursively, beginning at ~ and walking down to the current directory.
#
# This means you can put defaults (ie. githubLogin, tagNamespace) in ~/.thingshubconfig,
# leaving project-specific config (repoOwner, repoName, areaName, projectPrefix) in your-project-dir/.thingshubconfig.
#
# Config parameters can also be set or overridden on the commandline, by passing -param value, ie. "-githubLogin cdzombak"

# Blank lines are ignored; lines beginning with '#' are ignored.

# githubLogin: your Github username. Required.
githubLogin = cdzombak

# tagNamespace: namespace to use as a prefix for tags imported from Github. Optional, default is "github".
tagNamespace = github

# repoOwner: the owner of the Github repo to sync. Required.
repoOwner = cdzombak

# repoName: the Github repo to sync. Required.
repoName = thingshub

# areaName: the area in Things to use for this project. Optional; default is None.
areaName = Personal Software Projects

# projectPrefix: prefix which will be applied to project names. Optional; default is none.
projectPrefix = THub
